.container{
    max-width:800px;
    background-color: white;
    }
    
body{
    background-image: url("img/background.jpg");
}
    
    
h1 {
    color:rgb(8, 54, 80);
    text-align: center;
    font-size: 3em; 
}
    
    
    
#bleu{
    background-color: darkblue;
    text-align: center;
    padding:10px; 
    border-radius: 4px 4px 4px 4px; 
}
    
a{
    color:white;
    font-size:1.5em;
    height:40px;
    padding:20px; 
}

img {
    height: 250;
    width: 300;
}

#trame {
    text-justify: auto;
    margin: 0 auto;
}